@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.wrapper {
    background: grey;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.counter {
    display: flex;
    background: blue;
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
}

.btnWrapper {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 10px;
    background: blue;
    border: 0;
    border-radius: 15px;
    padding: 10px;
}